/* src/App.css */

/* Basic body and HTML setup */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

/* Full-page sections */
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

section.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/* Fade-in animation for the sections */
#title {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
}

#links, #projects {
  background-color: #f8f9fa;
}

/* Profile Image Styling */
.profile {
  max-width: 100%;
  border-radius: 50%;
}

/* Navbar styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
  font-weight: 600;
  padding: 10px 20px;
}

/* Responsive Design */
@media (max-width: 767px) {
  .profile {
    width: 80%;
    height: auto;
  }
}
