/* App.css */
body {
  font-family: 'Arial', sans-serif;
}

.profile {
  width: 100%;
  border-radius: 50%;
  max-width: 250px;
  object-fit: cover;
}

.gradient-background {
  background: linear-gradient(135deg, #6e7e8b, #3b4b5c);
  color: white;
}

.text-body-emphasis {
  color: #f7f7f7;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #f8f9fa;
}

.card-body {
  background-color: white;
}

.btn-outline-dark {
  border: 2px solid #343a40;
}

.nav-link {
  color: #495057;
}

.nav-link:hover {
  color: #007bff;
}
